@charset "UTF-8";
.btn {
  color: white;
  background-color: #6584f3;
  border: none;
  border-radius: 1.875rem;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  line-height: 1.55;
}

.ui-btn__1sect {
  padding: 1.25rem;
  font-size: 0.875rem;
}

.ui-btn__4sect {
  padding: 1.25rem 3.75rem;
  font-size: 1rem;
  cursor: pointer;
  white-space: nowrap;
}

@media screen and (min-width: 700px) {
  .btn {
    border-radius: 30px;
  }
  .ui-btn__1sect {
    padding: 20px;
    font-size: 14px;
  }
  .ui-btn__4sect {
    padding: 20px 60px;
    font-size: 16px;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.ui-text__h1 {
  font-size: 2.125rem;
  font-weight: 500;
  color: rgb(83, 69, 92);
  line-height: 1.23;
}

.ui-text__menu,
.ui-text__numbers {
  font-weight: 400;
  color: #53455c;
  text-decoration: none;
}

.ui-text__menu {
  font-size: 1.25rem;
}

.ui-text__numbers {
  font-size: 1.875rem;
}

.ui-text__p-2sect,
.ui-text__p-4sect,
.ui-text__p-5sect,
.ui-text__p-6sect {
  font-weight: 300;
  color: black;
}

.ui-text__p-2sect {
  font-size: 1rem;
  line-height: 1.55;
}

.ui-text__p-4sect {
  font-size: 1.25rem;
}

.ui-text__p-5sect,
.ui-text__p-6sect {
  font-size: 0.875rem;
  line-height: 1.55;
}

.ui-text__p-footer,
.ui-text__p-footer-contacts,
.ui-text__p-footer-restrict {
  font-weight: 300;
  color: white;
  line-height: 1.5;
}

.ui-text__p-footer,
.ui-text__p-footer-contacts {
  font-size: 1.25rem;
}

.ui-text__p-footer-restrict {
  font-size: 1rem;
}

.ui-text__p-footer-contacts,
.ui-text__p-footer-restrict {
  opacity: 60%;
}

.ui-text__h-1sect,
.ui-text__p-1sect {
  font-weight: 600;
  color: white;
  line-height: 1.8;
}

.ui-text__h-1sect {
  font-size: 1.75rem;
}

.ui-text__p-1sect {
  font-size: 1rem;
  line-height: 1.5;
}

.ui-text__h-2sect,
.ui-text__h-5sect {
  font-weight: 600;
  color: rgb(83, 69, 92);
  line-height: 1.35;
}

.ui-text__h-2sect {
  font-size: 1.125rem;
}

.ui-text__h-5sect {
  font-size: 1.375rem;
}

.ui-text__review-name {
  font-size: 0.875rem;
  font-weight: 600;
  color: black;
  line-height: 1.35;
}

.ui-text__h-footer-contacts {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  line-height: 1.23;
}

@media screen and (min-width: 700px) {
  .ui-text__h1 {
    font-size: 34px;
  }
  .ui-text__menu {
    font-size: 20px;
  }
  .ui-text__numbers {
    font-size: 30px;
  }
  .ui-text__p-2sect {
    font-size: 16px;
  }
  .ui-text__p-4sect {
    font-size: 20px;
  }
  .ui-text__p-5sect,
  .ui-text__p-6sect {
    font-size: 14px;
  }
  .ui-text__p-footer,
  .ui-text__p-footer-contacts {
    font-size: 20px;
  }
  .ui-text__p-footer-restrict {
    font-size: 16px;
  }
  .ui-text__h-1sect {
    font-size: 38px;
  }
  .ui-text__p-1sect {
    font-size: 20px;
  }
  .ui-text__h-2sect {
    font-size: 18px;
  }
  .ui-text__h-5sect {
    font-size: 22px;
  }
  .ui-text__review-name {
    font-size: 14px;
  }
  .ui-text__h-footer-contacts {
    font-size: 32px;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 4.1025641026vw;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
}

.ui-text__h1 {
  padding-bottom: 2.5rem;
}

@media screen and (min-width: 700px) {
  .container {
    display: grid;
    grid-template-rows: 100px 1fr 533px;
  }
  .ui-text__h1 {
    padding-bottom: 40px;
  }
  .header {
    grid-row: 1/2;
  }
  .main {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(7, 0.1fr);
    gap: 100px;
  }
  .footer {
    grid-row: 3/4;
  }
  .first-section {
    grid-row: 1/2;
  }
  .second-section {
    grid-row: 2/3;
  }
  .third-section {
    grid-row: 3/4;
  }
  .fourth-section {
    grid-row: 4/5;
  }
  .fifth-section {
    grid-row: 5/6;
  }
  .sixth-section {
    grid-row: 6/7;
  }
  .seventh-section {
    grid-row: 7/8;
  }
}
.header {
  position: relative;
  display: flex;
  align-items: flex-start;
  background: #d6c6f5;
  height: 11.875rem;
}
.header__nav, .header__social {
  display: none;
}
.header__logo-wrapper {
  height: auto;
  display: block;
  padding: 1.25rem;
  text-decoration: none;
}
.header__logo {
  width: 6.25rem;
  display: block;
}

@media screen and (min-width: 700px) {
  .header {
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-inline: 40px;
  }
  .header__nav, .header__social {
    display: flex;
    justify-content: space-between;
  }
  .header__nav {
    gap: 130px;
  }
  .header__nav-item, .header__social-item {
    text-decoration: none;
  }
  .header__nav-item:hover, .header__social-item:hover {
    text-decoration: underline;
  }
  .header__nav-item:visited, .header__social-item:visited {
    color: gray;
  }
  .header__social-item {
    display: block;
  }
  .header__social {
    gap: 14px;
  }
  .header__social img {
    width: 30px;
    display: block;
  }
  .header__logo-wrapper {
    padding: 0;
  }
  .header__logo {
    width: 80px;
  }
}
.footer {
  background-color: #9a76a5;
  padding: 3rem 2rem;
}
.footer__header {
  text-align: left;
}
.footer__text {
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.footer__social-link {
  width: 1.875rem;
  height: 1.875rem;
  display: inline;
}

@media screen and (min-width: 700px) {
  .footer {
    background-color: #9a76a5;
    padding: 96px 112px;
    display: flex;
    flex-direction: column;
  }
  .footer__header {
    text-align: left;
  }
  .footer__text {
    padding-top: 16px;
    padding-bottom: 48px;
    width: 40%;
    text-align: left;
  }
  .footer__social-link {
    width: 30px;
    height: 30px;
    display: inline;
    margin-bottom: 1rem;
  }
}
.menu__toggle {
  opacity: 0;
}
.menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__toggle:checked ~ .menu__btn > .menu__logo {
  visibility: visible;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0.5rem;
  left: 85%;
  width: 2.5rem;
  height: 3.5rem;
  cursor: pointer;
  z-index: 6;
}
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: white;
  transition: 0.3s;
  z-index: 1;
}
.menu__btn > span::before {
  content: "";
  top: -0.5rem;
}
.menu__btn > span::after {
  content: "";
  top: 0.5rem;
}

.menu__box {
  display: flex;
  position: fixed;
  visibility: hidden;
  justify-content: space-around;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  padding: 12rem 0 0rem 0;
  list-style: none;
  text-align: center;
  background-color: #d6c6f5;
  transition: 0.3s;
  z-index: 5;
}
.menu__box__icons {
  padding-top: 5rem;
}
.menu__box__icons_img {
  width: 3rem;
  margin: 1rem;
}

.menu__item {
  display: block;
  color: #fffff;
  text-decoration: none;
  transition: background 0.3s;
  font-size: 1.5rem;
}
.menu__item:hover {
  color: white;
}

@media screen and (min-width: 700px) {
  .burger-menu {
    display: none;
  }
}
.first-section {
  background-color: #D6C6F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.25rem;
  padding-top: 0.625rem;
  padding-bottom: 2rem;
}
.first-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.first-section__content-header, .first-section__content-list {
  margin: 0;
}
.first-section__content-list {
  padding-inline: 2.5rem 0;
}
.first-section__photo-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.first-section__photo-img {
  width: 65%;
  min-width: 10.4375rem;
  min-height: 10.4375rem;
  max-width: 31.25rem;
  max-height: 31.25rem;
  display: block;
}

@media screen and (min-width: 700px) {
  .first-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 150px;
    width: 100%;
    gap: 200px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .first-section__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 40px;
  }
  .first-section__content-list {
    list-style-position: inside;
    padding-inline: 0;
  }
  .first-section__photo-img {
    width: 100%;
    min-width: 167px;
    min-height: 167px;
    max-width: 750px;
    max-height: 800px;
    display: block;
  }
}
.title ui-text__h1 {
  text-align: center;
}

.checkmark-h2-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.7rem;
  padding-left: 0.8em;
}

.second-section-img {
  width: 3rem;
}

.ui-text__h-2sect {
  margin: 0;
}

.second-section-conteiner-content-text {
  display: flex;
  text-align: justify;
  padding-right: 3.5em;
  padding-left: 4.5em;
  margin-block-start: 0;
}

p.ui-text__p-2sect {
  margin-top: 0;
}

@media screen and (min-width: 700px) {
  .second-section-container {
    padding-left: 15%;
  }
  .second-section-img {
    width: 60px;
    height: 60px;
  }
  .second-section-conteiner-content-text {
    padding-left: 6%;
    padding-right: 15%;
  }
  .checkmark-h2-box {
    padding-left: 0;
    height: 40px;
    gap: 36px;
  }
}
.carousel-container {
  position: relative;
  overflow: hidden;
  height: 15rem;
}
.carousel-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.prev-button, .next-button {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 40%;
}

.prev-button {
  left: 3%;
}

.next-button {
  right: 3%;
}

.carousel-button-img {
  width: 0.5rem;
}

.slide {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.7s ease;
}
.slide img {
  display: block;
  max-width: 90%;
  object-fit: cover;
  padding: 1rem;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
}

@media screen and (min-width: 700px) {
  .carousel-container {
    height: 530px;
  }
  .slide img {
    height: 530px;
    padding: 0;
  }
  .prev-button {
    left: 20%;
  }
  .next-button {
    right: 20%;
  }
  .slide-container {
    height: 530px;
  }
  .prev-button, .next-button {
    width: 40px;
    height: 40px;
  }
  .carousel-button-img {
    width: 12px;
  }
}
.fourth-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding-bottom: 2.5rem;
}
.fourth-section-button {
  width: 23.873125rem;
}
.fourth-section-stage {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 3.0625rem;
}
.fourth-section-stage__consultation, .fourth-section-stage__goals, .fourth-section-stage__posture, .fourth-section-stage__start {
  display: flex;
  width: 24.375rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
  border-radius: 50%;
  border: 0.625rem solid #d6c6f5;
  margin-top: 1rem;
}

.arrow {
  position: relative;
  top: 0;
  width: 5.375rem;
  height: 0.2rem;
  background-color: #000000;
  left: 0;
  display: block;
}
.arrow::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.2rem;
  top: -0.11rem;
  right: -0.28rem;
  background-color: #000000;
  transform: rotate(45deg);
}
.arrow::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.2rem;
  top: 0.11rem;
  right: -0.28rem;
  background-color: #000000;
  transform: rotate(-45deg);
}
.arrow {
  transform: rotate(90deg);
}

@media screen and (min-width: 700px) {
  .fourth-section {
    padding: 0 0 30px 0;
  }
  .fourth-section-button {
    width: 382px;
  }
  .fourth-section-stage {
    display: grid;
    grid-template-columns: 220px 200px 220px 200px 220px 200px 220px;
    grid-template-rows: 1fr;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding-bottom: 0;
  }
  .fourth-section-stage__consultation {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .fourth-section-stage__consultation .circle {
    grid-row: 1/2;
  }
  .fourth-section-stage__consultation .ui-text__p-4sect {
    grid-row: 2/3;
    align-self: center;
  }
  .fourth-section-stage__goals {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .fourth-section-stage__goals .circle {
    grid-row: 1/2;
  }
  .fourth-section-stage__goals .ui-text__p-4sect {
    grid-row: 2/3;
    align-self: center;
  }
  .fourth-section-stage__posture {
    grid-column: 5/6;
    grid-row: 1/2;
  }
  .fourth-section-stage__posture .circle {
    grid-row: 1/2;
  }
  .fourth-section-stage__posture .ui-text__p-4sect {
    grid-row: 2/3;
    align-self: center;
  }
  .fourth-section-stage__start {
    grid-column: 7/8;
    grid-row: 1/2;
  }
  .fourth-section-stage__start .circle {
    grid-row: 1/2;
  }
  .fourth-section-stage__start .ui-text__p-4sect {
    grid-row: 2/3;
    align-self: center;
  }
  .fourth-section-stage__consultation, .fourth-section-stage__goals, .fourth-section-stage__posture, .fourth-section-stage__start {
    width: 220px;
    display: grid;
    grid-template-rows: 190px 110px;
  }
  .circle {
    width: 160px;
    height: 160px;
    line-height: 160px;
    justify-self: center;
    text-align: center;
    border-radius: 50%;
    border: 10px solid #d6c6f5;
    margin-top: 16px;
  }
  .arrow {
    align-self: start;
    transform: rotate(0deg);
    position: relative;
    top: 105px;
    width: 200px;
    height: 3px;
    background-color: #000000;
    left: 0;
  }
  .arrow::after {
    width: 6px;
    height: 2px;
    top: -2px;
    right: -1px;
  }
  .arrow::before {
    width: 7px;
    height: 2px;
    top: 2px;
    right: -2px;
  }
  .arrow_first {
    grid-area: 1/2/2/3;
  }
  .arrow_second {
    grid-area: 1/4/2/5;
  }
  .arrow_third {
    grid-area: 1/6/2/7;
  }
}
.fifth-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ui-text__h1 {
  text-align: center;
}

.fifth-section_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.photo-block {
  max-width: 24.375rem;
}

.fifth-section-img {
  width: 100%;
  padding-inline: 1.25rem;
}

.fifth-section_right {
  display: flex;
  flex-direction: column;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
}

.fifth-section-block {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.fifth-section-icons {
  grid-column: 1/2;
  width: 6.25rem;
}

.fifth-section-text {
  grid-column: 2/3;
}

@media screen and (min-width: 700px) {
  .fifth-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 147px 1fr;
  }
  .ui-text__h1 {
    grid-row: 1/2;
    grid-column: 1/3;
    justify-content: flex-start;
  }
  .fifth-section_left {
    grid-row: 2/3;
    grid-column: 1/2;
    align-items: flex-end;
  }
  .photo-block {
    max-width: 560px;
    margin-bottom: 0;
  }
  .fifth-section-img {
    padding-inline: 0;
  }
  .fifth-section_right {
    grid-row: 2/3;
    grid-column: 2/3;
    align-items: flex-start;
    justify-content: center;
    padding-right: 300px;
    padding-top: 0;
    row-gap: 30px;
  }
  .fifth-section-icons {
    width: 80px;
    justify-self: center;
  }
}
.sixth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
}
.sixth-section_title-desktop {
  display: none;
}

.reviews-content {
  background: #d6c6f5;
  height: 95rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}
.reviews-content_block {
  max-width: 21.875rem;
  max-height: 21.875rem;
  overflow: hidden;
  background: white;
  border-radius: 1.25rem;
}
.reviews-content_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 700px) {
  .sixth-section_title-desktop {
    display: inline;
  }
  .sixth-section_title-mobile {
    display: none;
  }
  .reviews-content {
    flex-direction: row;
    align-items: stretch;
    height: 477px;
    padding-top: 90px;
    padding-bottom: 75px;
    gap: 30px;
  }
  .reviews-content_block {
    max-width: 343px;
    max-height: 343px;
    border-radius: 20px;
  }
}
.seventh-section {
  padding-bottom: 1rem;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  height: 15rem;
}
.carousel-container__track-item {
  display: block;
  max-width: 70%;
  object-fit: cover;
  object-position: center;
}

.slide-container {
  margin: 0;
  padding: 0;
  list-style: none;
}

.prev-button, .next-button {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 40%;
}

.prev-button {
  left: 2%;
}

.next-button {
  right: 2%;
}

.carousel-button-img {
  width: 0.5rem;
}

.slide {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.slide[data-active] {
  opacity: 1;
}

@media screen and (min-width: 700px) {
  .carousel-container {
    height: 550px;
  }
  .slide img {
    height: 550px;
  }
  .prev-button {
    left: 20%;
  }
  .next-button {
    right: 20%;
  }
  .slide-container {
    max-height: 580px;
  }
  .prev-button, .next-button {
    width: 40px;
    height: 40px;
  }
  .carousel-button-img {
    width: 20px;
  }
}
/* КНОПКА ВВЕРХ */
.totop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: #c5acf7;
  z-index: 4;
}

.totop:hover {
  color: #582b65;
}

.totop i {
  font-size: 40px;
  position: sticky;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=index.css.map */
